<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.master.cs" Inherits="Final.MasterPage" %>
<!DOCTYPE html>
<html>
<head runat="server">
<title></title>
<asp:ContentPlaceHolder ID="head" runat="server">
</asp:ContentPlaceHolder>

 <style>
    body {
        direction: rtl;
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 3%;
        margin-bottom: 5%;
        background-color: #E1E1E1;
        color: #1D1816;
    }
   
    .mpH1{
        color: #691F0C; 
        text-align: center;
        font-style: italic;
        font-weight: bolder;

    }
    
    .mpMainPage{
        min-height: 300px;
        width: 100%;
        border: 1px solid silver;
        padding-bottom: 40px;
        padding-top: 40px;
        padding: 30px;
    }
   
    .mpMenu{
        height: 50px; 
        text-align: center;
        border: 1px solid silver;

    }
    
    .mpHeader{
        width:60%; 
        height:30px; 
    }
    
    .mpTable{
        width:100%;
        height:100%;
        margin: 0px auto; 
        border: 1px solid silver;
    }
    p {
        color: #1D1816;
        font-weight: bolder;
        font-size:large;

    }
    div{
        margin-right: 100px;
        margin-left: 100px;
    }
    hr{
        height:3pt;
        background-color: #691F0C;
    }

</style>

    <script>
        setInterval("time()", 1000);
        function time()
        {
            var d = new Date();
            document.getElementById("mytime").innerHTML = d.toLocaleTimeString();
        }
    </script>
</head>
<body>
    <table class="mpTable">
    <tr>
        <td style="text-align:center; width:20%;" >
            <h1> <%=loginMsg %> </h1>
        </td>
        <td class="mpHeader">
            <h1 class="mpH1" id="top">לב אחד</h1>
        </td>
        <td style="width:20%;">
            <h2 id="mytime" style="text-align:center; direction:ltr; "></h2>
        </td>
    </tr>
    <tr>
       <td class="mpMenu" colspan="3";>
           <%=menuStr %>
       </td>
    </tr>
    <tr>
         <td class="mpMainPage" colspan="3";>
              <!-- place holder -->
               <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
               </asp:ContentPlaceHolder>
              <!------------------>
         </td>
    </tr>
    <tr  style="direction: ltr; text-align:center;">
        <td>
            <%= Application["counter"] %> : מונה מבקרים באתר
        </td>
        <td>
            <h3>
                <a href="mailto:ziv.avivi.28.11@gmail.com">מייל</a> - האתר נבנה עי זיו אביבי
            </h3>
        </td>
        <td></td>
    </tr>
</table>
    
            
        
</body>
</html>

